//
//  Secrets.xcconfig
//  MoviesApp
//
//  Created by Mohamed abdelhamed on 30/12/2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
TMDB_API_KEY = 08f1700bc8ebda5302e938028a9d0387
TMDB_AUTH_TOKEN = Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwOGYxNzAwYmM4ZWJkYTUzMDJlOTM4MDI4YTlkMDM4NyIsIm5iZiI6MTYzNzYxNDk2Ni43ODcwMDAyLCJzdWIiOiI2MTljMDU3NjQ5NzU2MDAwNjE1YjdjMzciLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.U_maexpx43Ga1dvPnLnQlQJDAs0VP9yX_1sYlkjHRgk
